main{
    padding: 1em;
}

aside{
    margin-top: 20%;
}

.page-content{
    margin-left: 1em;
}

.page-content{
    margin-left: 1em;
    margin-bottom: 10em;
    margin-top: 2em;
}

/* to keep the footer in the bottom while there is not much content in this page yet*/
@media only screen and (min-width: 1024px){
    .page-content{
  
        margin-bottom: 18em;
    
    }
}


@media only screen and (min-width: 768px){

    aside{
    margin-top: 7%;
}

}